USE [master]
GO
/****** Object:  Database [ParkSomewhereApp]    Script Date: 4/13/2018 11:54:41 AM ******/
CREATE DATABASE [ParkSomewhereApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ParkSomewhereApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ParkSomewhereApp.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ParkSomewhereApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ParkSomewhereApp_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ParkSomewhereApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ParkSomewhereApp]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/13/2018 11:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 4/13/2018 11:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 4/13/2018 11:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 4/13/2018 11:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 4/13/2018 11:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 4/13/2018 11:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Park]    Script Date: 4/13/2018 11:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Park](
	[ParkID] [int] IDENTITY(1,1) NOT NULL,
	[ParkName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Latitude] [nvarchar](100) NOT NULL,
	[Longitude] [nvarchar](100) NOT NULL,
	[OpenTime] [time](7) NOT NULL,
	[CloseTime] [time](7) NOT NULL,
	[Descripton] [nvarchar](250) NOT NULL,
	[Photo] [nvarchar](150) NULL,
	[AvgRating] [decimal](18, 0) NULL,
	[NumberRatings] [int] NULL,
	[Restrooms] [bit] NOT NULL,
	[PicnicArea] [bit] NOT NULL,
	[Grill] [bit] NOT NULL,
	[Playground] [bit] NOT NULL,
	[HikingTrail] [bit] NOT NULL,
	[PavedTrail] [bit] NOT NULL,
	[BasketballCourt] [bit] NOT NULL,
	[BaseballDiamond] [bit] NOT NULL,
	[CampGround] [bit] NOT NULL,
	[Fishing] [bit] NOT NULL,
	[Swimming] [bit] NOT NULL,
	[FitnessTrail] [bit] NOT NULL,
	[ADAAccessible] [bit] NOT NULL,
 CONSTRAINT [PK_Park] PRIMARY KEY CLUSTERED 
(
	[ParkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Photo]    Script Date: 4/13/2018 11:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photo](
	[PhotoID] [int] IDENTITY(1,1) NOT NULL,
	[ParkID] [int] NOT NULL,
	[Image] [nvarchar](100) NOT NULL,
	[UserID] [nvarchar](128) NULL,
 CONSTRAINT [PK_Photo] PRIMARY KEY CLUSTERED 
(
	[PhotoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Review]    Script Date: 4/13/2018 11:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[ParkID] [int] NOT NULL,
	[ReviewTitle] [nvarchar](200) NOT NULL,
	[ReviewComments] [nvarchar](250) NOT NULL,
	[ReviewTimeStamp] [datetime] NULL CONSTRAINT [DF_Review_ReviewTimeStamp]  DEFAULT (getdate()),
	[Rating] [int] NULL,
	[TotalVotes] [int] NULL,
	[UserID] [nvarchar](128) NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'9b9b2144-ac38-4697-a837-27ee5de8f381', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'278419a3-9644-48aa-a0d1-1a7a50444e9e', N'Employee')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'6ed8e729-faa6-4462-8136-455cb7df4fe2', N'Manager')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'038f6b32-53df-451f-85fc-f68f740a2091', N'278419a3-9644-48aa-a0d1-1a7a50444e9e')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'08f66c7d-e177-4034-94f9-3cdf777413d9', N'278419a3-9644-48aa-a0d1-1a7a50444e9e')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'28a0d5eb-1b39-4562-81f0-d4669525d60f', N'278419a3-9644-48aa-a0d1-1a7a50444e9e')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'038f6b32-53df-451f-85fc-f68f740a2091', N'Susan@susan.com', 0, N'AIhPTC6s+v/qP/f2Ek247UqHHHa6OGWa/G0sVQEDaGBXBMdBhzV3KVB0iclmE2+xEg==', N'84a5e024-7e84-4d48-8ee4-0c7e93850d77', NULL, 0, 0, NULL, 1, 0, N'Susan')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'06e2c8c6-2688-4274-a0b1-71f534d0f4f2', N'Hello@gmail.com', 0, N'ADh2W6+mnzST82rbrkN7vjUJpvLlKY/T9r57TDAUUIMN9qfOx2b0dcawIx54a47CjQ==', N'b1e14a4a-dabf-4405-bbd1-75fd6e3f4358', NULL, 0, 0, NULL, 1, 0, N'Hello@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'08f66c7d-e177-4034-94f9-3cdf777413d9', N'Julian@julian.com', 0, N'AGZep6qU6spimG39XZgRIL5U+MpIM26OtHWNuBJy1v6wIPVwYNaP5UINuKcg4HSG2g==', N'0ed5b99c-6d9c-42f6-a29c-ea5f78db8ac1', NULL, 0, 0, NULL, 1, 0, N'Julian')
SET IDENTITY_INSERT [dbo].[Park] ON 

SET IDENTITY_INSERT [dbo].[Park] OFF
SET IDENTITY_INSERT [dbo].[Photo] ON 

INSERT [dbo].[Photo] ([PhotoID], [ParkID], [Image], [UserID]) VALUES (5, 1, N'~/Images/user1180112861.jpeg', N'80f3ac55-f0e0-4e72-8227-4e685eaa5665')
INSERT [dbo].[Photo] ([PhotoID], [ParkID], [Image], [UserID]) VALUES (6, 2, N'~/Images/user2180143602.jpeg', N'80f3ac55-f0e0-4e72-8227-4e685eaa5665')
INSERT [dbo].[Photo] ([PhotoID], [ParkID], [Image], [UserID]) VALUES (7, 4, N'~/Images/user5180227245.jpeg', N'80f3ac55-f0e0-4e72-8227-4e685eaa5665')
SET IDENTITY_INSERT [dbo].[Photo] OFF
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewID], [ParkID], [ReviewTitle], [ReviewComments], [ReviewTimeStamp], [Rating], [TotalVotes], [UserID]) VALUES (1, 2, N'So pretty.', N'Nice place to take kids to play or swim in the creek.  There are also a lot of hiking trails along Tinker''s Creek and a big picnic shelter.', CAST(N'1999-04-05 00:00:00.000' AS DateTime), 4, 1, N'be295300-6bac-4c03-8776-a000aafeee66')
INSERT [dbo].[Review] ([ReviewID], [ParkID], [ReviewTitle], [ReviewComments], [ReviewTimeStamp], [Rating], [TotalVotes], [UserID]) VALUES (2, 1, N'Running trail.', N'Nice trees.  It can get crowded here in the summer, and I don''t like the mountain bike trails, the riders are too fast.', CAST(N'1999-04-05 00:00:00.000' AS DateTime), 3, NULL, N'80f3ac55-f0e0-4e72-8227-4e685eaa5665')
INSERT [dbo].[Review] ([ReviewID], [ParkID], [ReviewTitle], [ReviewComments], [ReviewTimeStamp], [Rating], [TotalVotes], [UserID]) VALUES (3, 1, N'Nice fitness trail', N'A great, quite place to go for a run and work out on the fitness trail.  The restrooms here are always clean and there is a giant picnic shelter if you want to host a larger gathering', CAST(N'2018-02-09 00:00:00.000' AS DateTime), 5, 1, N'28a0d5eb-1b39-4562-81f0-d4669525d60f')
SET IDENTITY_INSERT [dbo].[Review] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 4/13/2018 11:54:41 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 4/13/2018 11:54:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 4/13/2018 11:54:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 4/13/2018 11:54:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 4/13/2018 11:54:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 4/13/2018 11:54:41 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Photo]  WITH CHECK ADD  CONSTRAINT [FK_Photo_AspNetUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Photo] CHECK CONSTRAINT [FK_Photo_AspNetUsers]
GO
ALTER TABLE [dbo].[Photo]  WITH CHECK ADD  CONSTRAINT [FK_Photo_Park] FOREIGN KEY([ParkID])
REFERENCES [dbo].[Park] ([ParkID])
GO
ALTER TABLE [dbo].[Photo] CHECK CONSTRAINT [FK_Photo_Park]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_AspNetUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_AspNetUsers]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Park] FOREIGN KEY([ParkID])
REFERENCES [dbo].[Park] ([ParkID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Park]
GO
USE [master]
GO
