body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #a5db98;
    background-image: url('images/pexels-photo-164005.jpeg');
    background-size: cover;
}

h2#welcome {
    text-align: center;
    color: #065900;
    font-family: 'Acme', sans-serif;
}


.carousel-item .img-fluid {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    top: 0;
    bottom: auto;
    color: black;
    font-weight: bolder;
    text-shadow: 1px 1px grey;
    font-size: larger;
}
/*.rowcarousel{
    display:flex;
    margin-top: 120px;
    flex: 1 1 20 em;
}
