body {
    /*background-color: #4db85f;*/
}

h3 {
    font-family: 'Acme', sans-serif;
    color: #135e46;
}

tr {
    font-family: 'Acme', sans-serif;
    font-size: 1.75rem;
    color: #135e46;
}

td {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    color: #135e46;
    font-weight: bold;
}