body {
    background-image: url('pexels-photo-531756.jpeg');
    background-size: cover;
}

h3#admin-welcome {
    margin-top: 100px;
    text-align: center;
    color: #a5db98 !important;
    font-family: 'Acme', sans-serif;
    text-shadow: 2px 2px grey;
    font-weight: bold;
}

h3#user-welcome {
    margin-top: 100px;
    text-align: center;
    color: #a5db98 !important;
    font-family: 'Acme', sans-serif;
    text-shadow: 2px 2px grey;
    font-weight: bold;
}

div.container.body-content {
}

a {
    color: #a5db98 !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


Add Comment
