@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/HomeIndexStyle.css" rel="stylesheet" />

    
@*<div class="jumbotron">*@
<h2 id="welcome">Welcome to Park-Somewhere!</h2>
    <div class="row">
        
       
        
            @*<div id="myCarousel" class="carousel slide" style="width: 400px;  margin: 5px">*@
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Content/bench-forest-nature-park-630758.jpeg"   alt="Egbert" style="width: 100%">
                        <div class="carousel-caption">
                            <h3>Egbert Picnic Area</h3>
                            @*<p>A Place for Family Fun</p>*@
                        </div>
                    </div>

                    <div class="item">
                        <img src="~/Content/images/pexels-photo-354611.jpeg"  alt="Hemlock" style="width: 100%">
                        <div class="carousel-caption">
                            <h3>Hemlock Creek</h3>
                            @*<p>Enjoy the Soothing Sounds of the Creek</p>*@
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Content/images/pexels-photo-172510.jpeg"  alt="Sehome" style="width: 100%">
                        <div class="carousel-caption">
                            <h3>Sehome Arboretum</h3>
                            @*<p>Beautiful Trails & Observation Deck</p>*@
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Content/pexels-photo-397096.jpeg"  alt="Canal" style="width: 100%">
                        <div class="carousel-caption">
                            <h3>Canal Tow Path Trailhead</h3>
                            @*<p>Peaceful trails to ride on</p>*@
                        </div>
                    </div>
                </div>
                
                <!-- Left and right controls -->
                    
                <a class="left carousel-control" href="#myCarousel" data-slide="prev" data-interval='45'>
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next" data-interval='45'>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
                

            </div>
        </div>






        @*<div class="col-12" id="welcome">
            Welcome to Park-Somewhere!
            <p> Your go-to App to Locate a Park Near You!</p>
        </div>*@
    @*</div>*@


   
            @*<div class="row">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/Content/images/picnic.jpg" alt="Egbert" style="width:100%;">
                            <div class="carousel-caption">
                                <h3>Egbert Picnic Area</h3>
                                <p>Time for some Grilling & Family Fun!</p>
                            </div>
                        </div>

                        <div class="item">
                            <img src="~/Content/images/hemlock.jpeg" alt="Hemlock" style="width:100%;">
                            <div class="carousel-caption">
                                <h3>Hemlock Creek</h3>
                                <p>Enjoy the Soothing Sounds of the Creek</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Content/images/park9.jpeg" alt="Chicago" style="width:100%;">
                            <div class="carousel-caption">
                                <h3>Sehome Arboretum</h3>
                                <p>Beautiful Trails & Observation Deck</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Content/images/park13.jpeg" alt="Canal" style="width:100%;">
                            <div class="carousel-caption">
                                <h3>Canal Tow Path Trailhead</h3>
                                <p>Peaceful trails to ride on!</p>
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>


                </div>
            </div>*@
