@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/homeIndexStyleSheet.css" rel="stylesheet" />
<h2 id="welcome"><a class="btn btn-success" href="~/Parks/Index">Welcome to Park-Somewhere!</a></h2>
<div class="row">


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                @*<img src="~/Content/630758.jpeg" >*@
                <img src="~/Content/images/630758.jpg" alt="Egbert"/>
                <div class="carousel-caption"id="eg">
                    <h3 >Egbert Picnic Area</h3>

                </div>
            </div>
            <div class="item">
                @*<img src="~/Content/images/354611.jpeg" >*@
                <img src="~/Content/images/354611.jpg" alt="Hemlock"/>
                <div class="carousel-caption"id="he">
                    <h3 >Hemlock Creek</h3>

                </div>
            </div>
            <div class="item">
                @*<img src="~/Content/images/172510.jpeg" >*@
                <img src="~/Content/images/172510.jpg" alt="Sehome"/>
                <div class="carousel-caption"id="se">
                    <h3 >Sehome Arboretum</h3>

                </div>
            </div>
            <div class="item">
                @*<img src="~/Content/images/397096.jpeg" >*@
                <img src="~/Content/images/397096.jpg" alt="Canal"/>
                <div class="carousel-caption"id="ca">
                    <h3 >Canal Tow Path Trailhead</h3>

                </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev" data-interval='45'>
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next" data-interval='45'>
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</div>
