@{
    /**/

    ViewBag.Title = "Index";
}
<link href="~/Content/UserIndexStyle.css" rel="stylesheet" />
@if (ViewBag.displayMenu == "Yes")
{
    <h3 id="admin-welcome">Welcome Admin. Now you can create new parks.</h3>

    <center><button class="btn btn-danger">@Html.ActionLink("Create New Park", "Create", "Parks")</button></center>
    <div class="row" id="space"></div>

}
else
{
    <h3 id="user-welcome">  Welcome <strong>@ViewBag.Name</strong>.  You can add a review or upload a photo here. </h3>
    <center>
        <button class="btn btn-info" id="photoAdd">@Html.ActionLink("Add Photo", "Add", "Photos")</button>
    </center>
    <br/>
    <center>
        <button class="btn btn-danger" id="photoAdd">@Html.ActionLink("Write Review", "Create", "Reviews")</button>
    </center>
            <div class="row" id="space"></div>

            }
