@{
    ViewBag.Title = "Index";
}
<link href="~/Content/UserIndexStyle.css" rel="stylesheet" />
@if (ViewBag.displayMenu == "Yes")
{
    <h3 id="admin-welcome">Welcome Admin. Now you can create new parks.</h3>

    <li>@Html.ActionLink("Creat New Park", "Create", "Parks")</li>

}
else
{
    <h3 id="user-welcome">  Welcome <strong>@ViewBag.Name</strong>.  You can add a review or upload a photo here. </h3>
    <li>@Html.ActionLink("Add Photo", "Add", "Photos")</li>
    <li>@Html.ActionLink("Write Review", "Create", "Reviews")</li>
}