
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/UserIndexStyle.css" rel="stylesheet" />
@if (ViewBag.displayMenu == "Yes")
{
    <h1 id="admin-welcome">Welcome Admin. Now you can create user Role.</h1>
    
        <li>@Html.ActionLink("Manage Role", "Create", "Parks")</li>
   
}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) .We will add user module soon </h2>
    <li>@Html.ActionLink("Add Photo", "Add", "Photos")</li>
    <li>@Html.ActionLink("Write Review", "Create", "Reviews")</li>
}
